body {
    background-image: url('https://localhost:44364/Images/ShowTripsBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#campsiteDetailsDiv {
    background: rgba(255,238,203, 0.85);
    padding: 3px 40px 5px 40px;
    color: #005249;
    font-size: 20px;
    height: 100%;
}

#map {
    height: 350px;
    width: 100%;
}
#Lat{
    display: none;
}
#Lng{
    display:none;
}

span{
    margin-left: 10px;
}
i{
    margin-left: 20px;
}

.expandable-input {
    position: relative;
    width: 100%;
    max-width: 400px; /* Set a maximum width if desired */
}

.expandable-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    transition: min-height 0.2s ease-in-out;
}

.expandable-input textarea:focus {
    border-color: #007bff;
    outline: none;
}
#reviewButton {
    font-size: 20px;
    background-color: #005249 !important;
    color: #FFEECB;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
#reviewInput {
    display: none;
}
#reviewRatingDiv{
    max-height:fit-content;
}
#imgDiv {
    margin-top: 30px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 0 auto;
}

#imgDiv img {
    padding: 5px;
    border-radius: 15px;
      
}

#imgDiv::-webkit-scrollbar {
    height: 10px !important;
}
#details {
    
    
    width: 70%;
    margin: 30px auto;
    color: #FFEECB;
    border-radius: 10px;
}
.detailsField {
    background-color: #005249;
    color: #FFEECB;

    width: fit-content;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    font-size: 21px;

}
/*#dificulty{
    margin-left:10px;
}*/
#ratingAverage{

    justify-content:right;
}
.dificultyRatingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#campsiteName {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
}

.reviewDiv, #reviewSpan {
    background-color: #005249;
    color: #FFEECB;
    margin-top:15px;
    width: fit-content;
    padding: 3px 15px 10px 10px;
    border-radius: 10px;
}
#reviewSpan{
    font-size: 25px;
}
#review-container {
    padding: 5px 15px 10px 10px;
    margin-top: 20px;
}
.dificultyRatingDiv a {
    width: fit-content;
    background-color: #005249;
    color: #FFEECB;
}
.dificultyRatingDiv a:hover {
    width: fit-content;
    background-color: transparent;
    color: #005249;
    font-weight: bold;
}
.addButon {
    font-size: 20px;
    background-color: #005249 !important;
    color: #FFEECB;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}