#map {
    height: 95%;
    width: 100%;
    /*margin-left: 30px;*/

}
body {
    background-image: url('https://localhost:44364/Images/ShowCampsitesBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table {
    width: 100%;
    background: rgba(255,238,203, 0.85);
    border-radius: 15px;
    border: 10px solid red;
}

#container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-gap: 20px;
    align-items: start;
    height: calc(100vh - 118px);
}

.campsiteDescription{
    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.campsiteDescription.expanded {
    max-height: none;
}

.showMore {
    cursor: pointer;
}

body.show-map .container {
    max-width: none;
    width: 100%;
}

.table-wrapper {
    overflow: auto;
    height: 100%;
}
#addCampsite {
    font-size: 20px;
    background-color: #005249 !important;
    color: #FFEECB;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

