#map {
    height:1000px;
    width: 1000px;
    position: relative;
    margin-left: -550px;
    margin-top: 50px;
}
table {
    
    position: relative;
    margin-left: 550px;
    margin-top: -800px
}
