@model CampX.BusinessLogic.Implementations.Trips.Models.AddTripModel;
@using CampX.Common.ViewModels;
@inject CurrentCamperDTO currentCamper;

@if (currentCamper.IsAuthenticated == false)
{
    <a href="~/CamperAccount/Login">Login</a>
}
else
{
    
    <a href="~/Map/AddCampsite">Adauga Campsite</a>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />

    <link rel="stylesheet" href="~/css/Trip/ShowMap.css" type="text/css" />

    <script type="text/javascript" defer src="~/js/Trip/ShowMap.js"></script>


    <div id="map"></div>
    <div id="selectedCampsites">

    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" asp-controller="CamperAccount">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>               
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsPublic" for="isPublic" class="control-label"></label>
                    <input asp-for="IsPublic" class="form-control" id ="isPublic" type="checkbox" />
                    <span asp-validation-for="IsPublic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}