/*Scroll*/
*::-webkit-scrollbar-track {
    background-color: rgba(0,0,0, .1);
    border-radius: 5px;
}
/** {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}*/
*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0, .1);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, .65);
    border-radius: 5px;
} 
body {
    margin: 0;
    padding: 0;
    background-color: #FFEECB;
}
.navbar {
    background-color: #005249;
    color: #FFEECB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
}
#map {

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.my-account {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 45px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background-color: #005249;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.my-account:hover .dropdown-content {
    display: block;
    justify-content: center;
}
a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #005249;
    /* border: solid 2px #1e2f1a; */
    border-radius: 5px;
    margin-top: 2px;
}

.dropdown-content a  {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFEECB;

    /* border: solid 2px #1e2f1a; */
    border-radius: 5px;
    margin-top: 2px;
}

.dropdown-content button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFEECB;

    /* border: solid 2px #1e2f1a; */
    border-radius: 5px;
    margin-top: 2px;
}

.dropdown-content a:hover, button:hover {
    background-color: #FFEECB;
    color: #005249;
}

a:hover {
    background-color: #005249;
    color: #FFEECB;
}
.dropdown-content:hover {
    display: block;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 5px 0; /* Adjust margin as needed */
}

.logo {
    height: 60px;
}