
#map {
    height: 400px;
    width: 600px;
}
.expandable-input {
    position: relative;
    width: 100%;
    max-width: 400px; /* Set a maximum width if desired */
}

.expandable-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    transition: min-height 0.2s ease-in-out;
}

.expandable-input textarea:focus {
    border-color: #007bff;
    outline: none;
}
#visibility{
    margin-top: 25px
}
.nightIcon {
    margin-left: 5px;
    margin-right: 5px;
    animation: slideIn 1s ease-out forwards;
}
.slide-down {

    animation: slideOut 0.4s ease-in forwards;
}

i{
    margin-right: 5px
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}
@keyframes slideOut {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(40px);
    }
}