#map {
    height: 350px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#joinButton, #requestButton {
    margin-bottom: 10px;
    background-color: transparent;
    color: #1e2f1a;
    border: 1.5px solid #1e2f1a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#joinButton:hover,#requestButton:hover {
    background-color: #1e2f1a;
    color: #EDF1D6;
    border-radius: 5px;
}
.expandable-input {
    position: relative;
    width: 100%;
    max-width: 400px; /* Set a maximum width if desired */
}

    .expandable-input textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        resize: none;
        overflow: hidden;
        min-height: 40px;
        transition: min-height 0.2s ease-in-out;
    }

        .expandable-input textarea:focus {
            border-color: #007bff;
            outline: none;
        }

#reviewInput {
    display: none;
}

#reviewRatingDiv {
    max-height: fit-content;
}
i {
    margin-left: 20px;
}