@{
    ViewData["Title"] = "Home Page";
    ViewData["Class"] = "HomePage";
}
@*<link rel="stylesheet" href="~/css/HomePage.css" type="text/css" />
*@@using CampX.Common.ViewModels;
@inject CurrentCamperDTO currentCamper
<link rel="stylesheet" href="~/css/HomePage.css" type="text/css" />

   @* <form method="post" asp-controller="CamperAccount" asp-action="Logout">
    @if (currentCamper.IsAuthenticated == true)
    {
        <button type="submit" class="btn btn-primary">Logut</button>
     }
    </form>*@

    <div class="home-content">
        <div class="home-icon">
        <a href="~/Map/ShowMap">
            <img class="icons" id="mapIcon" src="../Images/HartaCampingCampXPNG.png" alt="hartacampingcampxpng">
           </a>
        </div>
        <div class="home-map">
            <div class="LogoMottoDiv">
                <div class="home-map-text">
                    <div class = "textLogoDiv">
                        <img class ="textLogoImg" src="../Images/CampXText.png" alt="CampXTextLogo">
                    </div>
                    <div class= "mottoDiv">Cel mai usor mod de a organiza tripul perfect!</div>
                </div>

            <div class="hartaRomaniaDiv">
                    <img class ="hartaRomaniaImg" src="../Images/OutlineMapRO.png" alt="CampXTextLogo">
                </div>
            </div> 
        </div>
        <div class="home-icon">
            <a href="~/Trip/ShowTrips">
            <img class="icons" id="tripListIcon" src="../Images/TripsCampXPng.png" alt="TripsListIcon">
            </a>
        </div>
    </div>


