@{
    ViewData["Title"] = "Home Page";
}
@*<link rel="stylesheet" href="~/css/HomePage.css" type="text/css" />
*@
    <nav>
        <ul>
            <li>
                <a href="~/CamperAccount/Login">Login</a>
            </li>
            <li>
                <a href="~/CamperAccount/Register">Register</a>
            </li>
            <li>
                <a href="~/CamperAccount/Profile">Profile</a>
            </li>
            <li>
                <a href="~/Map/ShowMap">Map</a>
            </li>
            <li>
                <a href="~/Map/CampsiteDetails/9">Campsite9</a>
            </li>
        <li>
            <a href="~/Trip/ShowMap">Trips Map</a>
        </li>
        
        </ul>
    </nav>
    <br></br>
 
    <form method="post" asp-controller="CamperAccount" asp-action="Logout">
    <button type="submit" class="btn btn-primary">Logut</button>
    </form>
 